.parent{
    padding: 25px;
    background-color: antiquewhite;
    display: flex;
    gap: 30px;
    justify-content:space-between;
    height: 350px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.child{
    border: 2px solid maroon;
    background: rgb(0, 247, 255);
    padding: 20px;
    font-size:28px;
    margin: 10px 0;
    /* display: inline; */
    /* width: 400px; */
}